{% extends 'base.html' %}

{% block title %}
    Weather
{% endblock %}

{% block contents %}

    <body class="text-center bg-dark">
        <div class="container" style="padding-top: 50px;">
            <form method="POST" CLASS="form-register" style="color: white">
                {{ form.hidden_tag() }}
                <img class="mb-4"
                     src="https://cdn.dribbble.com/users/114203/screenshots/2196689/media/5a15d9d900c559b763d5a246cf962fc9.png?resize=768x576&vertical=center"
                     width="300"
                     height="200"
                     alt="">
                <h1 class="h3 mb-3 font-weight-normal">
                    Enter a city to know the Weather!
                </h1>
                <br>

                {{ form.city.label() }}
                {{ form.city(class="form-control", placeholder="Enter the city") }}

                <br>

                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

            </form>
        </div>
    </body>
{% endblock %}

